<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.changh0.breath.mapper.DonationMapper">

    <insert id="doDonation">
        INSERT INTO DONATION_DETAIL (
            SUPPORTER_USER_SEQ,
            MASTER_USER_SEQ,
            POST_SEQ,
            DONATION_POINT_DETAIL
        ) VALUES (
            #{userSeq},
            #{masterUserSeq},
            #{postSeq},
            #{donationPointDetail}
        )
    </insert>
</mapper>