<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.changh0.breath.mapper.PostMapper">
    <resultMap id="posts" type="kr.co.changh0.breath.dto.PostDto">
        <result property="postSeq"          column="post_seq"/>
        <result property="parentPostSeq"    column="parent_post_seq"/>
        <result property="userSeq"          column="user_seq"/>
        <result property="title"            column="title"/>
        <result property="contents"         column="contents"/>
        <result property="targetAmount"     column="target_amount"/>
        <result property="donationStartDt"  column="donation_start_dt"/>
        <result property="donationEndDt"    column="donation_end_dt"/>
        <result property="reviewerSeq"      column="reviewer_seq"/>
        <result property="reviewDt"         column="review_dt"/>
        <result property="createDt"         column="create_dt"/>
        <result property="updateDt"         column="update_dt"/>
        <result property="qnaTypeId"        column="qna_type_id"/>
        <result property="qnaType"          column="qna_type"/>
        <result property="categoryId"       column="category_id"/>
        <result property="category"         column="category"/>
        <result property="statusId"         column="status_id"/>
        <result property="status"           column="status"/>
        <result property="postTypeId"       column="post_type_id"/>
        <result property="postType"         column="post_type"/>
    </resultMap>

    <insert id="insertPost">
        INSERT INTO POST (
            PARENT_POST_SEQ,
            USER_SEQ,
            TITLE,
            CONTENTS,
            TARGET_AMOUNT,
            DONATION_START_DT,
            DONATION_END_DT,
            REVIEW_DT,
            CREATE_DT,
            UPDATE_DT,
            MAIN_YN,
            ADULT_YN,
            SECRET_YN,
            DELETE_YN,
            QNA_TYPE_ID,
            CATEGORY_ID,
            STATUS_ID,
            POST_TYPE_ID
        ) VALUES (
            #{parentPostSeq},
            #{userSeq},
            #{title},
            #{contents},
            #{targetAmount},
            #{donationStartDt},
            #{donationEndDt},
            #{reviewDt},
            SYSDATE(),
            SYSDATE(),
            #{mainYn},
            #{adultYn},
            #{secretYn},
            #{deleteYn},
            #{qnaTypeId},
            #{categoryId},
            #{statusId},
            #{postTypeId}
        )
    </insert>

    <select id="selectUserPosts" resultMap="posts">
        SELECT  *
        FROM    POST
        WHERE   USER_SEQ = #{userSeq}
            AND DELETE_YN = 'N'
    </select>

    <select id="selectPost" resultMap="posts">
        SELECT  *
        FROM    POST
        WHERE   POST_SEQ = #{postSeq}
    </select>

    <select id="selectPosts" resultMap="posts">
        SELECT  POST_SEQ,
            PARENT_POST_SEQ,
            M.USER_SEQ,
            TITLE,
            CONTENTS,
            TARGET_AMOUNT,
            DONATION_START_DT,
            DONATION_END_DT,
            REVIEWER_SEQ,
            REVIEW_DT,
            M.CREATE_DT,
            M.UPDATE_DT,
            M.QNA_TYPE_ID,
            C.QNA_TYPE,
            M.CATEGORY_ID,
            D.CATEGORY,
            M.STATUS_ID,
            A.STATUS,
            M.POST_TYPE_ID,
            B.POST_TYPE
        FROM    POST M
            LEFT JOIN STATUS A ON M.STATUS_ID = A.STATUS_ID
            LEFT JOIN POST_TYPE B ON M.POST_TYPE_ID = B.POST_TYPE_ID
            LEFT JOIN QNA_TYPE C ON M.QNA_TYPE_ID = C.QNA_TYPE_ID
            LEFT JOIN CATEGORY D ON M.CATEGORY_ID = D.CATEGORY_ID
            LEFT JOIN USER G ON M.USER_SEQ = G.USER_SEQ
        WHERE   B.POST_TYPE = #{postType}
        <choose>
            <when test='postType eq "support".toString()'>
                AND M.STATUS_ID = 2
                <if test="type neq null and type neq ''">
                    AND D.CATEGORY = #{type}
                </if>
            </when>
            <when test='postType eq "qna".toString()'>
                AND C.QNA_TYPE = #{type}
            </when>
        </choose>
        <choose>
            <when test='searchType eq "title".toString()'>
                AND TITLE LIKE CONCAT('%', #{searchVal}, '%')
            </when>
            <when test='searchType eq "user".toString()'>
                AND NICKNAME LIKE CONCAT('%', #{searchVal}, '%')
            </when>
            <when test='searchType eq "all".toString()'>
                AND (TITLE LIKE CONCAT('%', #{searchVal}, '%') OR NICKNAME LIKE CONCAT('%', #{searchVal}, '%'))
            </when>
        </choose>
            AND M.DELETE_YN = 'N'
    </select>
</mapper>