<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.changh0.breath.mapper.TypeMapper">
    <resultMap id="postType" type="kr.co.changh0.breath.dto.PostTypeDto">
        <result property="postTypeId"  column="post_type_id"/>
        <result property="postType"    column="post_type"/>
    </resultMap>

    <select id="getPostTypeIdByType" resultType="java.lang.Integer">
        SELECT  POST_TYPE_ID
        FROM    POST_TYPE
        WHERE   POST_TYPE = #{type}
    </select>

    <select id="getPostTypeList" resultMap="postType">
        SELECT  POST_TYPE_ID,
                POST_TYPE
        FROM    POST_TYPE
        <if test="adminCheck">
            WHERE ADMIN_CHECK_YN = 'Y'
        </if>
    </select>

</mapper>