<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.changh0.breath.mapper.UserMapper">
    <resultMap id="user" type="kr.co.changh0.breath.dto.UserDto">
        <result property="userSeq"      column="user_seq"/>
        <result property="nickname"     column="nickname"/>
        <result property="name"         column="name"/>
        <result property="birthDay"     column="birthday"/>
        <result property="mobilePhone"  column="mobile_phone"/>
        <result property="gender"       column="gender"/>
        <result property="email"        column="email"/>
        <result property="address"      column="address"/>
        <result property="introduction" column="introduction"/>
        <result property="authority"    column="authority"/>
        <result property="createDt"     column="create_dt"/>
        <result property="updateDt"     column="update_dt"/>
        <result property="deleteYn"     column="delete_yn"/>
    </resultMap>

    <insert id="insertUser" useGeneratedKeys="true" parameterType="kr.co.changh0.breath.dto.UserDto" keyProperty="userSeq" keyColumn="user_seq">
        INSERT INTO USER (
            NICKNAME,
            NAME,
            BIRTHDAY,
            MOBILE_PHONE,
            GENDER,
            EMAIL
        )
        VALUES (
            #{nickname},
            #{name},
            #{birthDay} ,
            #{mobilePhone},
            #{gender},
            #{email}
        )
    </insert>
    <insert id="insertUserLogin">
        INSERT INTO USER_LOGIN (
            USER_ID,
            USER_SEQ,
            PASSWORD
        )
        VALUES (
            #{userId},
            #{userSeq},
            #{password}
        )
    </insert>

    <select id="selectAllUser" resultMap="user">
        SELECT  *
        FROM    USER
        WHERE   DELETE_YN = 'N'
    </select>

    <select id="selectUser" resultMap="user">
        SELECT  *
        FROM    USER
        WHERE   DELETE_YN = 'N'
            AND USER_SEQ = #{userSeq}
    </select>

    <select id="selectUserId" parameterType="string" resultMap="user">
        SELECT  USER_ID AS userId
        FROM    USER_LOGIN
        WHERE   USER_ID = #{userId}
    </select>

    <select id="duplicateCheck" resultMap="user">
        SELECT  ${type}
        FROM    USER
        WHERE   ${type} = #{value}
            AND DELETE_YN = 'N'
    </select>

    <insert id="insertUserHistory">
        INSERT INTO USER_HISTORY (
            USER_SEQ,
            USER_ID,
            PASSWORD,
            NAME,
            NICKNAME,
            BIRTHDAY,
            MOBILE_PHONE,
            GENDER,
            EMAIL,
            ADDRESS,
            AUTHORITY )
        SELECT
            A.USER_SEQ,
            B.USER_ID,
            B.PASSWORD,
            A.NAME,
            A.NICKNAME,
            A.BIRTHDAY,
            A.MOBILE_PHONE,
            A.GENDER,
            A.EMAIL,
            A.ADDRESS,
            A.AUTHORITY
        FROM    USER A, USER_LOGIN B
        WHERE   A.USER_SEQ = B.USER_SEQ
        AND     A.USER_SEQ = #{userSeq}
    </insert>

    <insert id="insertUserInfoHistory">
        INSERT INTO USER_HISTORY (
            USER_SEQ,
            USER_ID,
            PASSWORD,
            NAME,
            NICKNAME,
            BIRTHDAY,
            MOBILE_PHONE,
            GENDER,
            EMAIL,
            ADDRESS,
            AUTHORITY )
        VALUES (
            #{userSeq},
            #{userId},
            #{password},
            #{name},
            #{nickname},
            #{birthDay},
            #{mobilePhone},
            #{gender},
            #{email},
            #{address},
            #{authority}
        )
    </insert>

    <update id="deleteUser">
        UPDATE  USER
        SET     DELETE_YN = 'Y',
                NICKNAME = '탈퇴한 회원'
        WHERE   USER_SEQ = #{userSeq}
    </update>
</mapper>