<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.changh0.breath.mapper.UserMapper">
    <resultMap id="test" type="kr.co.changh0.breath.dto.PostDto">
        <result property="postSeq" column="post_seq"/>
    </resultMap>

    <insert id="insertUser" useGeneratedKeys="true" parameterType="kr.co.changh0.breath.dto.UserDto" keyProperty="userSeq" keyColumn="user_seq">
        INSERT INTO USER (
            NICKNAME,
            NAME,
            BIRTHDAY,
            MOBILE_PHONE,
            GENDER,
            EMAIL
        )
        VALUES (
            #{nickname},
            #{name},
            #{birthDay} ,
            #{mobilePhone},
            #{gender},
            #{email}
        )
    </insert>
    <insert id="insertUserLogin">
        INSERT INTO USER_LOGIN (
            USER_ID,
            USER_SEQ,
            PASSWORD
        )
        VALUES (
            #{userId},
            #{userSeq},
            #{password}
        )
    </insert>

    <select id="selectAllUser" resultType="kr.co.changh0.breath.dto.UserDto">
        SELECT  *
        FROM    USER
        WHERE   DELETE_YN = 'N'
    </select>

    <select id="selectUser" resultType="kr.co.changh0.breath.dto.UserDto">
        SELECT  *
        FROM    USER
        WHERE   DELETE_YN = 'N'
            AND USER_SEQ = #{seq}
    </select>

    <select id="selectUserId" parameterType="string" resultType="kr.co.changh0.breath.dto.UserDto">
        SELECT  USER_ID AS userId
        FROM    USER_LOGIN
        WHERE   USER_ID = #{userId}
    </select>

    <select id="duplicateCheck" resultType="kr.co.changh0.breath.dto.UserDto">
        SELECT  ${type}
        FROM    USER
        WHERE   ${type} = #{value}
            AND DELETE_YN = 'N'
    </select>

    <insert id="insertUserHistory">
        INSERT INTO USER_HISTORY (
            USER_SEQ,
            USER_ID,
            PASSWORD,
            NAME,
            NICKNAME,
            BIRTHDAY,
            MOBILE_PHONE,
            GENDER,
            EMAIL,
            ADDRESS,
            AUTHORITY )
        SELECT
            A.USER_SEQ,
            B.USER_ID,
            B.PASSWORD,
            A.NAME,
            A.NICKNAME,
            A.BIRTHDAY,
            A.MOBILE_PHONE,
            A.GENDER,
            A.EMAIL,
            A.ADDRESS,
            A.AUTHORITY
        FROM    USER A, USER_LOGIN B
        WHERE   A.USER_SEQ = B.USER_SEQ
        AND     A.USER_SEQ = #{userSeq}
    </insert>

    <insert id="insertUserInfoHistory">
        INSERT INTO USER_HISTORY (
            USER_SEQ,
            USER_ID,
            PASSWORD,
            NAME,
            NICKNAME,
            BIRTHDAY,
            MOBILE_PHONE,
            GENDER,
            EMAIL,
            ADDRESS,
            AUTHORITY )
        VALUES (
            #{userSeq},
            #{userId},
            #{password},
            #{name},
            #{nickname},
            #{birthDay},
            #{mobilePhone},
            #{gender},
            #{email},
            #{address},
            #{authority}
        )
    </insert>


    <update id="deleteUser">
        UPDATE  USER
        SET     DELETE_YN = 'Y',
                NICKNAME = '탈퇴한 회원'
        WHERE   USER_SEQ = #{userSeq}
    </update>
</mapper>